body {
  background-color: #f2f2f2;
}

img {
  display: block;
  border: none;
  border-radius: 10%;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p1 {
  font-size: 18px;
  font-weight: light;
  text-align: center;
  margin-bottom: 20px;
}

.home-container {
  border-radius: 10%;
  flex-direction: column;
  align-items: center;
  background: #222326;
  margin: 5%;
}

.navbar {
  max-width: 100vw;
  background-color: #222326;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
}

#vibely {
  color: #a211cf;
  font-size: 30px;
  
}

.navbar-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-item {
  margin-left: 3%;
}

.quote-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.quote-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 5%;
}

.quote-author {
  font-size: 14px;
  text-align: center;
  margin: 5%;

}

.keepBtn {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #a211cf;
  border-radius: 20%;
  background: #222326;
  color: #a211cf;
  cursor: pointer;
  margin-left: 10%;
}

.changeBtn {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #a211cf;
  border-radius: 20%;
  background: #222326;
  color: #a211cf;
  cursor: pointer;
  margin-right: 10%;
}

.changeBtn:hover {
  background-color: #a211cf;
  color: #222326;
}
.keepBtn:hover {
  background-color: #a211cf;
  color: #222326;
}

.imgKeepBtn {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #a211cf;
  border-radius: 20%;
  background: #222326;
  color: #a211cf;
  margin-left: 20%;
  cursor: pointer;
}

.imgChangeBtn {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #a211cf;
  border-radius: 20%;
  background: #222326;
  color: #a211cf;
  margin-right: 20%;
  cursor: pointer;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

.image {
  margin: 3%;

}

.imgChangeBtn:hover {
  background-color: white;
  color: #222326;
}

.imgKeepBtn:hover {
  background-color: white;
  color: #222326;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 400px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.remove-favorite-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #a211cf;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.remove-favorite-button:hover {
  background-color: #a211cf;
}

.card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .card {
    width: 90%;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
}

.team-member-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.team-member h3 {
  margin-top: 20px;
}

.team-member p {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .team-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .team-member {
    width: 90%;
  }
}
