body {
  background-color: #f2f2f2;
}

img {
  display: block;
  border: none;
  border-radius: 10%;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.home-container {
  border-radius: 10%;
  flex-direction: column;
  align-items: center;
  background: #222326;
  margin: 5%;
}

.navbar {
  width: 100%;
  background-color: #222326;
  color: white;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 20px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  cursor: pointer;
}

.quote-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.quote-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 5%;
}

.quote-author {
  font-size: 14px;
  text-align: center;
  margin: 5%;

}

.keepBtn {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #a211cf;
  border-radius: 20%;
  background: #222326;
  color: #a211cf;
  cursor: pointer;
  margin-left: 10%;
}

.changeBtn {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #a211cf;
  border-radius: 20%;
  background: #222326;
  color: #a211cf;
  cursor: pointer;
  margin-right: 10%;
}

.changeBtn:hover {
  background-color: #a211cf;
  color: #222326;
}
.keepBtn:hover {
  background-color: #a211cf;
  color: #222326;
}

.imgKeepBtn {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #a211cf;
  border-radius: 20%;
  background: #222326;
  color: #a211cf;
  margin-left: 20%;
  cursor: pointer;
}

.imgChangeBtn {
  font-size: 12px;
  padding: 10px;
  border: 2px solid #a211cf;
  border-radius: 20%;
  background: #222326;
  color: #a211cf;
  margin-right: 20%;
  cursor: pointer;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  overflow: hidden;
}

.image {
  margin: 3%;

}

.imgChangeBtn:hover {
  background-color: #a211cf;
  color: #222326;
}

.imgKeepBtn:hover {
  background-color: #a211cf;
  color: #222326;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
